<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>Documentation</h1>
                <%= column_chart Rate.group_by_day(:created_at).count(@rates), label: "Rates Added", title: "Rates Added per Day"  %>

            </div>
        </div>
    </div>
</section>
