<section class="splash">
    <div class="container text-center">
      <h1 class="intro-title">RATE CELLAR.</h1>
      <hr>
      <h1 class="intro-description">Your Rates, All in One Place.</h1>
    </div>
</section>

<section class="overview">
    <div class="container">
        <div>
            <i class="fa fa-cloud"></i>
            <h2>Lightweight</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div>
            <i class="fa fa-mobile"></i>
            <h2>Responsive</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div>
            <i class="fa fa-gbp"></i>
            <h2>Free</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</section>

<section class="feature greybg">
    <div class="container">
        <%= image_tag 'macbook-pro.png' %>
        <div>
            <h1>Easy to modify</h1>
            <p>With clean, semantic markup you can hit the ground running and start making Maglev your own immediately.</p>
            <ul>
                <li>
                    <i class="fa fa-html5"></i>
                    <h3>HTML 5</h3>
                    <p>Clean, semantic markup which is up to modern web standards.</p>
                </li>
                <li>
                    <i class="fa fa-css3"></i>
                    <h3>CSS 3</h3>
                    <p>Utilises the power of CSS 3 media queries to provide a robust, responsive website.</p>
                </li>
                <li>
                    <i class="fa fa-code"></i>
                    <h3>jQuery</h3>
                    <p>Entirely optional, but a few little bits of animation around the page are handled by jQuery.</p>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="cta">
    <div class="container">
        <h1>Enough already!</h1>
        <h2>Click the link below to download the theme files</h2>
        <a class="btn" href="http://boag.online/blog/maglev-free-responsive-website-template" target="_blank">Download Maglev<i class="fa fa-download"></i></a>
    </div>
</section>

<section class="pricing">
    <div class="container">
        <h1>Pricing</h1>
        <h2>If this wasn't free, this is what package comparison might look like</h2>
        <div>
            <h3>Basic<span><i class="fa fa-star"></i></span></h3>
            <div class="price">£10</div>
            <ul>
                <li>Lorem ipsum</li>
                <li>Eiusmod tempor incididunt</li>
                <li>Dolor sit amet</li>
                <li>Consectetur adipiscing</li>

            </ul>
            <a class="btn yellow smaller" href="#">Get Started<i class="fa fa-angle-right"></i></a>
        </div>
        <div>
            <h3>Premium<span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></h3>

            <div class="price">£30</div>
            <ul>
                <li>Lorem ipsum</li>
                <li>Eiusmod tempor incididunt</li>
                <li>Dolor sit amet</li>
                <li>Consectetur adipiscing</li>
            </ul>
            <a class="btn yellow smaller" href="#">Get Started<i class="fa fa-angle-right"></i></a>
        </div>
        <div>
            <h3>Standard<span><i class="fa fa-star"></i><i class="fa fa-star"></i></span></h3>
            <div class="price">£20</div>
            <ul>
                <li>Lorem ipsum</li>
                <li>Eiusmod tempor incididunt</li>
                <li>Dolor sit amet</li>
                <li>Consectetur adipiscing</li>
            </ul>
            <a class="btn yellow smaller" href="#">Get Started<i class="fa fa-angle-right"></i></a>
        </div>

    </div>
</section>

<section class="feature greybg">
    <div class="container">
        <%= image_tag 'iphone-device.png' %>
        <div>
            <h1>Looks good anywhere</h1>
            <p>Maglev is designed to look great on any device, big or small, at home or on the go.</p>
            <ul>
                <li>
                    <i class="fa fa-desktop"></i>
                    <h3>Desktop</h3>
                    <p>The full screen experience, show off your product with high quality imagery and really wow your visitors.</p>
                </li>
                <li>
                    <i class="fa fa-tablet"></i>
                    <h3>Tablet</h3>
                    <p>Below 800px, things become a little more streamlined while still retaining the overall spacious feel.</p>
                </li>
                <li>
                    <i class="fa fa-mobile"></i>
                    <h3>Mobile</h3>
                    <p>Stripped down to just the basics for ease of use, navigation and a simple way to get your information across.</p>
                </li>
            </ul>
        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="copyright">
            <p>&copy; 2017 <a href="http://vicomelo.com" target="_blank">Vico Melo | vicomelo.com</a><p>
        </div>

    </div>
</footer>
