
      <section class="splash">
          <div class="container text-center">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="intro-title">Edit Rate</h1>
                <hr>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <%= render 'form', rate: @rate %>

              </div>
              <div class="col-sm-12">
                <br>
                <%= link_to 'Back', rates_path, class: "btn btn-lg btn-info" %>

              </div>
            </div>


          </div>
      </section>
