<footer class="footer">
<div class="container">
    <div class="copyright">
        <p>&copy; 2017
            <a href="http://vicomelo.com" target="_blank">Vico Melo | vicomelo.com</a>
            <p></div>

        </div>
    </footer>
